body {
    background: #212121;
    color: white;
    /* transition: all 2s; */
} 


h1,p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 50px;
    font-size: larger;
    border-radius: 20px;
    margin: 100px;
    background-color: rgb(0, 0, 0);
}

#start, #stop {
    padding: 10px;
    margin: 10px;
    background:black;
    color: white;
    border: solid 3px rgb(255, 106, 0);
    border-radius: 10px;
    align-self: center;
}

#start:hover , #stop:hover {
    scale: 1.1;
}

.animateBg {

}